{% extends "base-admin.html" %}
{% load static %}
{% load i18n %}
{% block title%} {% trans 'Add Product' %} {% endblock %}

{% block content %}
<div class="container" dir="rtl">
    <div class="box box-primary addProduct">
        <div class="box-header with-border">
            <h3 class="box-title">{% trans 'Add Product' %}</h3>
        </div>
        

        <form class="box-body" action="." method="post" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media}}
            {{ form.as_ul}}
            
            <div class="box-footer">
                <input class="btn btn-primary" type="submit" value="{% trans 'Save Changes' %}" />
            </div>
            
        </form>
    </div>

</div>
{% endblock %}