{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title%} {% trans 'About Us' %} {% endblock %}
{% block content %}
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>{% trans 'About Us' %}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>{{ settings.full_about|safe }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}