{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>{% block title %} {% endblock %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} ">
    <!-- Site CSS -->
    {% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'fa'%}
    <link rel="stylesheet" href="{% static 'css/style-fa.css' %}">
{% else %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endif %}

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static  'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">


</head>

<body>
    <!-- Start Main Top -->
        <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="custom-select-box">
                        <form action="{% url 'set_language' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}">
                            <input name="language" type="hidden" value="fa">
                            <input type="image" src="{% static 'images/fa.png' %}" width="30">
                        </form>
                        <form action="{% url 'set_language' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}">
                            <input name="language" type="hidden" value="en">
                            <input type="image" src="{% static 'images/en.png' %}"  width="30">
                        </form>
                        <form action="{% url 'set_language' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}">
                            <input name="language" type="hidden" value="ru">
                            <input type="image" src="{% static 'images/ru.png' %}"  width="30">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="{% url 'website:index' %}"><img src="{% static 'images/logo.png' %}" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'website:index' %}">{% trans 'Home' %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'website:product_list' %}">{% trans 'Product List' %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'website:about_us' %}">{% trans 'About Us' %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'website:contact_us' %}">{% trans 'Contact Us' %}</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="{% trans 'Search' %}">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->


    {% block content %}

    {% endblock %}

    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>{% trans 'About Fahandej' %}</h4>
                            {{ settings.small_about|safe }}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>{% trans 'Links' %}</h4>
                            <ul>
                                <li><a href="{% url 'website:about_us' %}">{% trans 'About Us' %}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>{% trans 'Contact Us' %}</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>{% trans 'Address:' %} {{ settings.address|safe }} </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>{% trans 'Phone:' %} {{ settings.phone }}</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>{% trans 'Email:' %} {{ settings.email }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/jquery.superslides.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/inewsticker.js' %}"></script>
    <script src="{% static 'js/bootsnav.js.' %}"></script>
    <script src="{% static 'js/images-loded.min.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script type="application/javascript">
        $('document').ready(function () {
            $('#selected_language').on('change', function () {
            $('#change_language').click();
        });
        });
    </script>
</body>

</html>